:root {
  --vp-layout-max-width: 1660px;
  /** 主题颜色 */

  /*
  --vp-c-brand-1: #5086a1;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgb(60, 60, 67);
  --vp-c-text-3: rgb(60, 60, 67);
}

/** 深色模式 */
[data-theme="dark"] {
  /*
  --vp-c-brand-1: #8cccd5;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #5086a1;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  --vp-c-text-1: rgb(255, 255, 245);
  --vp-c-text-2: rgb(235, 235, 245);
  --vp-c-text-3: rgb(235, 235, 245);
}

.vp-icon {
  font-size: 1.3em;
}

.vp-social-link .vp-icon {
  width : 20px !important;
  height: 20px !important;
}

/* blog */
.vp-posts {
  display: flex !important;
  justify-content: center !important;
  padding: 32px 42px !important;
}

.posts-container {
  max-width: 1600px !important;
  margin: 0 20px !important;
}

@media screen and (max-width: 768px) {
  .posts-container {
    padding-top: 72px !important;
  }

  .avatar img {
    border-radius: 50%;
  }
}

.vp-doc-container.has-aside.is-posts {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 20px 0 !important;
}

.container {
  margin: 0 !important;
  max-width: 1560px !important;
}

.vp-doc-container.has-aside.is-posts > .container > .content {
  max-width: 1100px !important;
  padding: 10 !important;
}

.content-container {
  margin: 0 !important;
  max-width: 1480px !important;
}

.aside-container {
  width: 300px !important;
}

/* posts */
.posts-container.no-profile {
  max-width: 1400px !important;
}

.vp-posts-nav.local .nav-link {
  max-width: 175px !important;
}

/* friends */
.vp-posts {
  padding: 30px !important;
}

.vp-friends {
  max-width: 1400px !important;
  padding: 0 !important;
}

.vp-friends .title {
  color: var(--vp-c-brand-1) !important;
  padding: 40px 0 0 0 !important;
}

@media screen and (max-width: 768px) {
  .vp-friends {
    padding-top: 20px !important;
  }
}

.vp-friends-group {
  padding-top: 0 !important;
}

.vp-friend {
  border: solid 1px var(--vp-c-divider);
  border-radius: 12px !important;
  background-color: #c8c8c81a !important;
}

.vp-friend:hover {
  border: solid 1px var(--vp-c-brand-2);
}

.avatar {
  padding: 8px;
  border-radius: 16px !important;
  display: flex;
  background-color: transparent !important;
}

.avatar img {
  object-fit: contain !important;
  object-position: center !important;
  border-radius: 50% !important;
}

.vp-link.title {
  color: var(--vp-c-text-1) !important;
}

/* comment */
.vp-comment {
  padding: 0 30px !important;
}