:root {
  --vp-layout-max-width: 1660px;
  /** 主题颜色 */

  /*
  --vp-c-brand-1: #5086a1;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgb(60, 60, 67);
  --vp-c-text-3: rgb(60, 60, 67);
}

/** 深色模式 */
[data-theme="dark"] {
  /*
  --vp-c-brand-1: #8cccd5;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #5086a1;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  --vp-c-text-1: rgb(255, 255, 245);
  --vp-c-text-2: rgb(235, 235, 245);
  --vp-c-text-3: rgb(235, 235, 245);
}

.vp-icon {
  font-size: 1.3em;
}

/* 导航栏 */
.vp-link.link.navbar-menu-link {
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: var(--vp-c-text-2);
  font-weight: 500 !important;
  height: 36px;
  margin: auto 4px;
  transition: all 0.2s ease;
}

.vp-link.link.navbar-menu-link:hover {
  background-color: var(--vp-c-default-soft) !important;
  color: var(--vp-c-text-1);
}

.vp-link.link.navbar-menu-link.active {
  background-color: var(--vp-c-default-soft) !important;
  color: var(--vp-c-brand-1);
}

/* 移动端 */
.vp-link.link.vp-nav-screen-menu-link,
.vp-link.link.vp-external-link-icon.vp-nav-screen-menu-group-link {
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: var(--vp-c-text-2);
  font-weight: 500 !important;
  height: 42px;
  padding: 12px !important;
  border-bottom: none !important;
  transition: all 0.2s ease;
}

.vp-link.link.vp-nav-screen-menu-link:hover,
.vp-link.link.vp-external-link-icon.vp-nav-screen-menu-group-link:hover {
  background-color: var(--vp-c-default-soft) !important;
  color: var(--vp-c-text-1);
}

.button {
  padding: 12px !important;
}
/* ←→ */

/* 博客列表页面 */
.posts-container.no-profile {
  max-width: 1400px !important;
}

.vp-posts-nav.local {
  .nav-link {
    flex: 0 0 auto !important;
    max-width: 175px !important;
  }
  justify-content: flex-end !important;
}

/* 文章页面 */
/* 背景线条颜色 */
.home-posts, .vp-content {
  --vp-doc-blog-bg: rgba(100, 190, 190, 0.12);
  background-image:
    linear-gradient(90deg, var(--vp-doc-blog-bg) 3%, transparent 0),
    linear-gradient(1turn, var(--vp-doc-blog-bg) 3%, transparent 0);
  background-position: 50%;
  background-size: 20px 20px;
}

[data-theme="dark"] .home-posts, .vp-content {
  --vp-doc-blog-bg: rgba(30, 120, 120, 0.15);
}

/* ←→ */
.vp-posts {
  padding: 32px 42px !important;
}

.posts-container {
  max-width: 1600px !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 20px !important;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .posts-container {
    padding-top: 72px !important;
  }

  .avatar img {
    border-radius: 50%;
  }
}

.vp-doc-container.has-aside.is-posts {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 20px 0 !important;
}

.container {
  margin: 0 !important;
  max-width: 1560px !important;
}

.content-container {
  margin: 0 !important;
  max-width: 1480px !important;
}

.aside-container {
  width: 300px !important;
}

.vp-doc {
  h2 {
    border: none;
    padding-top: 0;

    .header-anchor {
      display: block;
      border-bottom: 4px solid #4dd0e1;
      position: relative;
      font-size: 24px;
      padding: 12px 32px;
      color: #4dd0e1;
      font-weight: 700;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        opacity: 1;
      }

      &::before {
        opacity: 1;
        width: 24px;
        height: 24px;
        left: 0;
        top: 0;
        margin: auto;
        background-size: 24px 24px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAADGklEQVRYR81X32vTYBQ999s6mFjQgQ+DrbHiVFZYU4cDcQ/6pGhTFVYFEXGi82H+Bz448UnEF1Fx9ccEEcXpZE3d5tP2ooKiTacTHaLNpigMHDgnU9tcSbrWrkwWR0sbyEOSe885ObnfvV8IRT6oyPwoLQHBx+OVM5WJvSyEVAhnBOjt7yU/+/rr6r6l8TMO+F/EN0JQhICqQpD/xaRpcpAc9tS+M+9lBCia/oqBamK+zeDuQogQZaKJk3wcQjxSva7tGQGB2Ke1zIk3DNyMyNL+QpCnMQOaPsDAVuGAp9cjvbYc8Ec/bCYSg0zoiHilk1tHxqsqEsYlML4kjIpT/eurJxRNPweQU5VdrWaOEo1fgKAVbBgXIz73kF3R/ph+ghgdzMYWM29eAWlBJqgZaFlFYtC6nhWpaDqnSGlIlV1WjJ3DloDNgyNLncudqgX//Ucg3LxuStHGuhi8pqKCW3rqV342rwFjRznKm+/LNaN2yC237ThgF2wxcfMLeP6+ncrKzoPoKTGeLQbYbg4TNoC5iZPJY5HGVRdSNZAWYBclD3FzBQzrR8hACAKdzBzKA/4/IYioDQaOskBbpEG6PO8qKKSAEi3CnEb0Pw4oMf0OmKbTDWqh3Lw6EIiNBZi5lxh3wz4puBD5ovqAMvxhHSdFKxE1CQe3m/07TeTX4lcJdAhE+1Sv65Z5P/ByvIGTRowIZ9igbtXnmrOsbTvgj+kHBNMuBu9OdVw8EeU4nC1A0cYmAHZOTRrLhra4Z8ywnSN6vZHAFTA2WnnMfQB3qz73ddsOZM8CACFDIPSgQXqebXEgqgeZcAeEe6pXasm1f8ew3igMtAHWac0Uc/jYdyAaP0xEBwFsmgUPqbJ0NE2UKj4EGcahiOzuyhagaHpnmtgcVgTcCMuua7YdyAHbA3ArQNscVFbb4635aD6fnYaTvxxi9UNP7ddMXaRWVBdAcaLk6bDXPZCNZ9uBXEsDUX1T2Cc9yjig6Z0EHg3LK8/aqf6MwJKchkXfks1+0+JtSq3qLPa23BRR1B+T/6nkfMaW1r9hPt/MLtYfTLEpP+T9FNoAAAAASUVORK5CYII=);
      }

      &::after {
        opacity: 1;
        right: 0;
        width: 400px;
        height: 10px;
        border-top-right-radius: 24px;
        background: linear-gradient(90deg, transparent, #4dd0e1);
        max-width: 50vw;
      }

      &:hover {
        color: #4ccedf;
      }
    }
  }
}

/* 友情链接页面 */
.vp-posts {
  padding: 30px !important;
}

.vp-friends {
  .title {
    color: var(--vp-c-brand-1) !important;
    padding: 40px 0 0 0 !important;
    margin-bottom: 16px !important;
  }
  max-width: 1400px !important;
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .vp-friends {
    padding-top: 20px !important;
  }
}

.vp-friends-group {
  .title {
    border: none !important;
    padding-top: 20px !important;
  }
  padding-top: 0 !important;
}

.vp-friend {
  border: solid 1px var(--vp-c-divider);
  border-radius: 12px !important;
  background-color: var(--vp-c-bg) !important;
}

.vp-friend:hover {
  border: solid 1px var(--vp-c-brand-2);
}

.avatar {
  img {
    object-fit: contain !important;
    object-position: center !important;
    border-radius: 50% !important;
  }
  padding: 8px;
  border-radius: 16px !important;
  display: flex;
  background-color: transparent !important;
}

.vp-link.title {
  color: var(--vp-c-text-1) !important;
}

/* 评论组件 */
.vp-comment {
  padding: 0 30px !important;
}
