/* 友情链接页面 */
.vp-friends {
  .title {
    color: var(--vp-c-brand-1) !important;
    margin-bottom: 0 !important;
  }
  max-width: 1400px !important;
  padding: 0 !important;
}

.vp-friends > .title {
  padding: 40px 0 0 0 !important;
}

.vp-friends-group {
  .title {
    border: none !important;
    padding: 20px 0 !important;
    margin-bottom: 0 !important;
  }
  padding-top: 0 !important;
}

.friends-list {
  margin-top: 0 !important;
}

.vp-friend {
  border: solid 1px var(--vp-c-divider);
  border-radius: 12px !important;
  background-color: var(--vp-c-bg) !important;
}

.vp-friend:hover {
  border: solid 1px var(--vp-c-brand-2);
}

.avatar {
  img {
    object-fit: contain !important;
    object-position: center !important;
    border-radius: 50% !important;
  }
  padding: 8px;
  border-radius: 16px !important;
  display: flex;
  background-color: transparent !important;
}

.vp-link.title {
  color: var(--vp-c-text-1) !important;
}

.vp-card-wrapper {
  background-color: var(--vp-c-bg);
}

.vp-doc.plume-content.after, .vp-comment {
  padding: 0 20px !important;
}