/* 博客列表页面 */
.vp-posts.home-posts {
  background-color: transparent !important;
  padding: 32px 20px !important;
}

.posts-container.no-profile {
  max-width: 1400px !important;
}

.vp-posts-nav.local {
  .nav-link {
    flex: 0 0 auto !important;
    max-width: 175px !important;
  }
  justify-content: flex-end !important;
}

.vp-post-item {
  border-radius: 8px;
}

.vp-post-item.has-cover.top .post-cover {
  border-radius: 8px 8px 0 0 !important;
}

.posts-container.no-profile {
  padding-top: 0 !important;
}